VLLM_BASE_URL=http://127.0.0.1:8000/v1
GATEWAY_API_KEY=change-me
MAX_MESSAGES=20
MAX_MESSAGE_CHARS=8000
MAX_TOTAL_CHARS=16000
MAX_TOKENS_LIMIT=1024
MAX_N=1
TEMPERATURE_MIN=0.0
TEMPERATURE_MAX=2.0
REQUEST_TIMEOUT_SECONDS=120
LOG_FULL_PROMPTS=false
